* {
  text-decoration: none;
}
.main-container {
  display: flex;
  height: 100vh;
}
.logo {
  background-color: #fff;
  width: 82.825px;
  height: 82.825px;
  flex-shrink: 0;
  border-radius: 50%;
  margin: 2rem;
}
.logos {
  display: flex;
  gap: 2rem;
  margin: 0 0 2rem 10rem;
}
.main-heading {
  color: #fff;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 12rem;
  margin-top: 0;
}
.dashboard-logo {
  width: 44px;
  height: 44px;
}
.mobile-navbar {
  display: none;
}
@media screen and (max-width: 1500px) {
  .logos {
    margin: 0 0 2rem 7rem;
  }
  .main-heading {
    margin-left: 8rem;
  }
}
.left-side-container {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #605bff;
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
}

